.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: black;
  width: 1920px;
  height: 2077px;
  padding-left: 340px;
}
.container h1 {
  font-size: 56px;
  color: #ffffff;
  font-family: "Rowdies", cursive;
  font-weight: bold;
  margin: 120px 0 80px 20px;
  letter-spacing: 3px;
}
