.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  height: 1080px;
  border: 1px solid black;
}
.question {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
}
.devTalks {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.devTalks h1 {
  color: red;
  font-size: 64px;
  font-family: "Rowdies", cursive;
  margin: 90px 0 95px 20px;
}

.radio_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.radio__input {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.textarea1 {
  width: 535px;
  height: 122px;
  margin-top: 30px;
  padding: 30px;
  resize: none;
}
.textarea2 {
  width: 535px;
  height: 89px;
  margin-top: 30px;
  padding: 30px;
  resize: none;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 100px;
  width: 230px;
  height: 20px;
  margin-top: 80px;
}
.right_arrow {
  cursor: pointer;
  border: none;
}
.info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: black;
}

.info h2 {
  color: red;
  font-size: 64px;
  font-family: "Rowdies", cursive;
  margin: 100px 0 0 175px;
}
.info p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 150px 200px 0 175px;
  text-align: left;
  line-height: 50px;
}
