.container {
  display: flex;
  width: 1920px;
  height: 1080px;
  border: 1px solid black;
}
.personalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  flex: 1;
  background-color: black;
}

.personalInfo h1 {
  color: red;
  font-size: 64px;
  font-family: "Rowdies", cursive;
  margin: 110px 0 115px 175px;
}
.input {
  width: 455px;
  height: 54px;
  border: 1px solid #454545;
  padding: 10px;
}
.error {
  font-size: 14px;
  font-style: italic;
  color: red;
}
.pagination {
  display: flex;
  justify-content: space-between;
  width: 230px;
  height: 23px;
  margin-top: 175px;
}
.left_arrow {
  cursor: pointer;
}
.right_arrow {
  cursor: pointer;
  border: none;
}

.info h2 {
  color: red;
  font-size: 64px;
  font-family: "Rowdies", cursive;
  margin: 110px 0 0 175px;
}
.info p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 150px 200px 0 175px;
  text-align: left;
  line-height: 50px;
}
