.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  height: 1080px;
  border: 1px solid black;
}
.skills {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills h1 {
  color: red;
  font-size: 64px;
  font-family: "Rowdies", cursive;
  margin: 110px 0 115px 20px;
}
select {
  width: 455px;
  height: 54px;
  border: 1px solid #454545;
  margin-bottom: 38px;
  padding: 10px;
}
input {
  width: 455px;
  height: 54px;
  border: 1px solid #454545;
  margin-bottom: 38px;
  padding: 10px;
  outline: none;
}
.add__btn {
  width: 201px;
  height: 31px;
  background-color: red;
  color: #ffffff;
  border: none;
  margin: 0 0 56px 248px;
}
.skills_container {
  height: 250px;
  overflow: auto;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 230px;
  height: 20px;
  position: absolute;
  bottom: 170px;
}
.right_arrow {
  cursor: pointer;
  border: none;
}

.info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: black;
}

.info h2 {
  color: red;
  font-size: 64px;
  font-family: "Rowdies", cursive;
  margin: 110px 0 0 175px;
}
.info p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 150px 200px 0 175px;
  text-align: left;
  line-height: 50px;
}
