.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid black;
  width: 447px;
  height: 48px;
  margin-bottom: 17px;
}
.language {
  margin-left: 15px;
}
.delete__icon {
  margin-right: 15px;
}
